
.successMessage {  
    
    background-color: #CE2829; /* Arka plan rengini ayarlayın */  
    color: white; /* Yazı rengini beyaz yaparak okunabilirliği artırın */  
    height:100vw;
    text-align:center; /* Yazıyı ortalayın */  
    
} 
