
#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding:0;
  text-align: center;
  
}
body {  
  margin: 0; /* Varsayılan kenar boşluklarını sıfırla */  
  padding : 0;
}  

.app-container {  
  background-color: #FAF7F2; /* Arka plan rengi */  
  min-height: 100vh; /* Tüm ekran yüksekliği kaplasın */  
  display: flex;  
  flex-direction: column; /* Dikey hizalama */  
}  
@media (max-width: 768px) {  
  .header, .footer {  
    padding: 15px; /* Mobil cihazlar için padding ayarlama */  
  }  

  .header h1 {  
    font-size: 24px; /* Başlık boyutunu küçük ekranlar için ayarlama */  
  }  

  .header nav p {  
    font-size: 14px; /* Gezinme göstergesi font boyutunu ayarlama */  
  }  

  .order-form {  
    padding: 10px; /* Sipariş formu için dolgu ayarlama */  
  }  

  /* Form elemanları için responsive düzenleme */  
  input[type="text"],  
  input[type="number"],  
  select,  
  textarea {  
    width: 100%; /* Tüm form elemanlarını tam genişlik ayarlama */  
    margin: 5px 0; /* Elemanlar arası boşluk */  
    padding: 10px; /* İç boşluk */  
    box-sizing: border-box; /* Padding'in genişliği etkilemesini önlemek için */  
  }  

  button {  
    width: 100%; /* Buton genişliğini ayarlayın */  
    padding: 10px; /* İç boşluk */  
  }  
}  
